[MASTER]
ignore-patterns=test_(.)*\.py

[MESSAGES CONTROL]
# Disable the message, report, category, or checker with the given id(s)
disable=C0111,W0621,R0913,R0801,C0200,R0903

[BASIC]
# Good variable names regexes, separated by a comma
good-names-rgxs=[a-z_]

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100
# Regexp for a line that is allowed to be longer than the limit
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
# String used as indentation unit
indent-string='    '
# Number of spaces of indent required inside a hanging or continued line
indent-after-paren=4

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma
notes=FIXME,TODO

[LOGGING]
# Logging modules to check that the string format arguments are in logging function parameter format
logging-modules=logging
# The type of string formatting that logging methods do
logging-format-style=old

[EXCEPTIONS]
# Exceptions that will emit a warning when being caught
overgeneral-exceptions=BaseException,Exception
